body {
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.998);
    display:flex; flex-direction:column; 
    justify-content:center;
    letter-spacing: 30px;

  }

.container {
    font-style: oblique;
    border: 2px;
    font-family: Tahoma, Arial, sans-serif;
    color: #0b0c0c;
    letter-spacing: 30px;
}

