body {
    font-family: Arial, sans-serif;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    /* letter-spacing: 30px; */
    background-image: url('https://wallpapercave.com/wp/wp4551786.jpg');
  }

  .background {
          background-image: url('https://wallpapercave.com/wp/wp4551786.jpg');
  }


.container {
    font-style: oblique;
    border: 2px;
    font-family: Tahoma, Arial, sans-serif;
    color: #0b0c0c;
    /* letter-spacing: 30px; */
}

.background{
    height: 120vh;
  }

  .title {
      letter-spacing: 5px;
  }

  .top-bar{
    justify-content: space-between;
  }