.img { 
    width:80%; 
    z-index: 0;
  } 
     
.text-over-img { 
    z-index:1;
    font-size: 2em;
    text-align: center;
    }

.btn-default {
    display: block;
    margin: 0px auto;
}

.new-task-title {
    text-align: center;
}

.form-group {
    margin: 10px 20px;
}

.row-form {
    justify-content: space-around;
    padding: 10px 20px;
    margin: 10px 0;
}

.add-task-btn {
    margin: 20px;
}
